
.background-landing-img{
    background-image: url("../assets/journey.jpg");
    height: 80vh;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    margin-bottom: 30px;
}

.shade{
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.shade h1{
    font-family: sans-serif;
    font-style: italic;
}

.card-message{
    background-color:rgba(0, 0, 0, 0.822);
    margin: 10px 20px;
    border:2px solid rgb(219, 201, 201);
    border-radius: 15px 0 ;
    padding: 7px 10px;
    font-style: italic;
}

.card-message::before{
    content: open-quote;
    font-size: 60px;
    margin: 0;
    padding: 50px 20px;
    line-height: 0;
    font-family: serif;
    font-style: italic;
}

.card-message::after{
    content: close-quote;
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-family: serif;
}

.shade h4{
    box-shadow: 2px 2px 10px #ccc;
    height:100px;
    /* position: relative;
    z-index: 1; */
    color: rgb(255, 255, 255);
}


/* images profiler */
.image-card-profiler{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.image-card{
    max-width: 100%;
    height: auto;   
   border:2px solid #ccc;
   border-radius:10px 5px;
}

.section-message{
   border: 1px solid rgb(80, 71, 71);
   border-radius:20px 5px;
   background-color: rgb(233, 227, 227);
   height: auto;


}

