
.main-login-form{
    display: flex;
    justify-content: center;
    margin: 90px 50px;
    
}


    .login{
     width: 450px;
     box-shadow: 2px 2px 10px #ccc;
     border-radius: 10px;
     padding: 30px;
    }
