.nav-bar{
    display: flex;
    position: fixed !important;
    width: 100%;
    background-color: #fff;
    top: 0;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
