#bg-color{
    background-color:var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-form{
    width: 500px ;
    height: 70vh;
   border: 1px solid #ccc;
   border-radius: 20px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   /* z-index syntax */
   position: relative;
   z-index: 1;
   margin:100px;
}


/* mobile view lg */
@media only screen and (max-width:425px){
    .change-password-form{
        margin-top: 50px !important;
    }
    
}


/* mobile view m */
@media only screen and (max-width:375px){
    #main-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .change-password-form{
        margin-top: 50px !important;
    }
}


/* mobile view  xs*/
@media only screen and (max-width:320px){
    .change-password-form{
        width: 50%;
        margin: 50px !important;
    }
}


/* tablet  view 768 */
@media only screen and (max-width:768px){
    .change-password-form{
        width: 500px !important;
        margin: 100px !important;
    }
    #main-form{
        width:80% !important;
    }
}
